.intros-dark-mode {
  background: linear-gradient(to bottom, #000 50%, #fff 0%);
}

.intros-light-mode {
  background: linear-gradient(to bottom, #fff 50%, #000 0%);
}

.intros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro p {
  font-size: 20px;
  font-weight: bolder;
}

.names {
  color: var(--color-background);
}

.photo {
  width: 60%;
}

.intro-text {
  text-align: center;
  padding: 50px;
  margin: 0;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding: 30px;
  text-align: justify;
}

.skills {
  position: relative;
  height: 170px;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  /* background-color: var(--color-text); */
}

.skills-list {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 50px;
  width: 100%;
  margin: 0;
  animation: skills-slider-mobile 10s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.skill-logo {
  width: 10vw;
  margin-right: 6vw;
  transition: filter 1000ms linear;
}

.skill-logo-dark:hover {
  filter: brightness(0.3);
  transition: filter 700ms linear;
}

.skill-logo-light {
  filter: brightness(0.5);
  transition: filter 700ms linear;
}

.skill-logo-light:hover {
  filter: brightness(0.8);
  transition: filter 700ms linear;
}

@media only screen and (min-width: 768px) {
  .intros {
    flex-direction: row;
    padding-top: 50px;
  }
  .skills-list {
    animation: skills-slider 40s linear infinite;
  }
  .skill-logo {
    width: 4vw;
  }
  .services {
    flex-direction: row;
  }
  .intro-text {
    font-size: 40px;
  }
}

@keyframes skills-slider-mobile {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 150%;
  }
}

@keyframes skills-slider {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 150%;
  }
}
