.about-dark-mode {
  background: linear-gradient(to bottom, #000 50%, #fff 0%);
}

.about-light-mode {
  background: linear-gradient(to bottom, #fff 50%, #000 0%);
}

.intros {
  display: flex;
  justify-content: space-around;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 40%;
}

.intro-text {
  text-align: center;
}
