.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

input,
textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 90vw;
  border: none;
  border-bottom: 1px solid var(--color-text);
}

@media only screen and (min-width: 768px) {
  input,
  textarea {
    width: 70vw;
  }
}
