@font-face {
  font-family: "Noto";
  src: local("Noto"),
    url(../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf) format("truetype");
}

:root {
  --color-highlight: #b59b7c;
  --color-shadow: #eaeaea;
  --color-text: #fff;
  --color-background: #000;
  --color-background-transparent: rgba(255, 255, 255, 0.75);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Noto";
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
}

.h2 {
  font-size: 30px;
  text-align: center;
}

.custom-button {
  background-color: var(--color-highlight);
  color: var(--color-background);
  font-family: "Noto";
  border: 2px solid var(--color-highlight);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  transition: all 500ms ease-in;
}

.custom-button:hover {
  background-color: var(--color-text);
  color: var(--color-background);
  transition: all 500ms ease-in;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
  z-index: 999;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  width: 20px;
  margin: 10px;
}

.header-placeholder {
  height: 80px;
}

.hidden {
  display: none;
}

.set-language-fixed {
  position: fixed;
  top: 20px;
  right: 40px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-menu {
  position: fixed;
  bottom: 40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-transparent);
  color: var(--color-background);
  font-family: "Noto";
  border: 2px solid var(--color-text);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  z-index: 999;
}

.menu-button {
  border-radius: 5px;
  padding: 10px;
  color: var(--color-background);
  text-decoration: none;
  transition: all 500ms ease-in;
  border: none;
}
.menu-button:hover {
  background-color: var(--color-highlight);
  color: var(--color-background);
  transition: all 500ms ease-in;
}

.menu-button-button {
  background-color: var(--color-highlight);
  color: var(--color-background);
  transition: all 500ms ease-in;
  font-size: 16px;
}

.menu-button-button:hover {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 500ms ease-in;
}

.hidden-mobile {
  display: none;
}

.desktop-only {
  display: none;
}

.mobile-menu {
  position: fixed;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 30px;
  left: 30px;
}

.top-link {
  width: 30px;
  height: 30px;
  z-index: 999;
  color: var(--color-text);
}

.dark-mode-icon {
  width: 30px;
}

@media only screen and (min-width: 768px) {
  .h2 {
    font-size: 70px;
  }
  .hidden-mobile {
    display: flex;
  }
  .menu-placeholder {
    height: 150px;
    width: 100%;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}
