@font-face {
  font-family: "Noto";
  src: local("Noto"),
    url(../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf) format("truetype");
}

:root {
  --color-highlight: #40c8e0;
  --color-shadow: #eaeaea;
  --color-text: #fff;
  --color-background: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Noto";
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

h2 {
  color: var(--color-highlight);
  text-transform: uppercase;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.invisible-button {
  border: none;
  background-color: transparent;
  width: 20px;
  margin: 10px;
}

.header-placeholder {
  height: 80px;
}

.hidden {
  display: none;
}

.dark-mode-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
