.header {
  position: fixed;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.links {
  display: flex;
}

.links li {
  display: flex;
}

.header-logo {
  width: 5%;
  margin: 10px;
}

.nav-link {
  color: var(--color-text);
  text-decoration: none;
  margin: 10px;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.nav-link:visited {
  color: var(--color-text);
}

.header ul {
  list-style-type: none;
}

.hidden-mobile {
  display: none;
}

.set-language {
  display: flex;
  margin-right: 40px;
}

@media only screen and (min-width: 768px) {
  .hidden-mobile {
    display: flex;
  }
  .hidden-desktop {
    display: none;
  }
}
