.hero {
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
}

.hero-button {
  border: 2px solid var(--color-highlight);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.hero-button-blue {
  background-color: var(--color-highlight);
  color: var(--color-background);
  transition: all 500ms ease-in;
}
.hero-button-blue:hover {
  background-color: var(--color-text);
  color: var(--color-background);
  transition: all 500ms ease-in;
}

.hero-button-transparent {
  background-color: transparent;
  color: var(--color-text);
  transition: all 500ms ease-in;
}

.hero-button-transparent:hover {
  background-color: var(--color-text);
  color: var(--color-background);
  transition: all 500ms ease-in;
}

.hero-links {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    width: 100%;
  }
}
