.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info {
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin: 0 10px;
  color: var(--color-text);
  text-decoration: none;
}
