.projects {
  overflow: hidden;
}
.main-projects-dark-mode {
  background: linear-gradient(to bottom, #000 50%, #fff 0%);
}

.main-projects-light-mode {
  background: linear-gradient(to bottom, #000 50%, #fff 0%);
}

.main-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  transition: all 500ms linear;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-project {
  transition: margin 150ms linear;
  width: 80vw;
  height: 80vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.main-project:hover {
  margin: -5px 0 5px 5px;
  transition: margin 150ms linear;
}

.main-project {
  margin: 20px;
}

.main-project-info {
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -100px;
}

.other-projects {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.other-projects-list {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
  animation: image-slider-mobile 15s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.partner-logo {
  width: 10vw;
  margin-right: 6vw;
  transition: filter 1000ms linear;
  z-index: 55;
  position: relative;
}

.partner-logo-dark:hover {
  filter: brightness(0.3);
  transition: filter 700ms linear;
}

.partner-logo-light {
  filter: brightness(0.5);
  transition: filter 700ms linear;
}

.partner-logo-light:hover {
  filter: brightness(0.8);
  transition: filter 700ms linear;
}

iframe {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .main-projects {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .main-project {
    width: 50vw;
    height: 50vw;
  }

  .main-projects-left {
    margin-left: -500px;
    margin-right: 500px;
  }

  .main-projects-half-left {
    margin-left: -400px;
    margin-right: 400px;
  }

  .main-projects-middle {
    margin-left: -300px;
    margin-right: 300px;
  }

  .main-projects-half-right {
    margin-left: -200px;
    margin-right: 200px;
  }

  .main-projects-right {
    margin-left: -100px;
    margin-right: 100px;
  }

  .main-project {
    width: 25vw;
    height: 25vw;
  }

  .other-projects-list {
    animation: image-slider 40s linear infinite;
  }
  .partner-logo {
    width: 4vw;
  }
}

@keyframes image-slider-mobile {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -150%;
  }
}

@keyframes image-slider {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -120%;
  }
}
