.projects {
  overflow: hidden;
}
.projects-dark-mode {
  background: linear-gradient(to bottom, #000 50%, #fff 0%);
}

.projects-light-mode {
  background: linear-gradient(to bottom, #b59b7c 50%, #fff 0%);
}

.main-projects {
  display: flex;
  margin-bottom: 200px;
  transition: all 500ms linear;
}

.main-project {
  transition: margin 150ms linear;
  overflow: hidden;
  width: 25vw;
  height: 25vw;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.main-project:hover {
  margin: -5px 0 5px 5px;
  transition: margin 150ms linear;
}

.main-project {
  margin: 20px;
}

.main-projects-left {
  margin-left: -100px;
  margin-right: 100px;
}

.main-projects-half-left {
  margin-left: -50px;
  margin-right: 50px;
}

.main-projects-middle {
  margin-left: 0;
  margin-right: 0;
}

.main-projects-half-right {
  margin-left: 50px;
  margin-right: -50px;
}

.main-projects-right {
  margin-left: 100px;
  margin-right: -100px;
}

.main-project-1 {
  background-image: url("../images/projects/project1.jpg");
}

.main-project-2 {
  background-image: url("../images/projects/project2.jpg");
}

.main-project-3 {
  background-image: url("../images/projects/project3.jpg");
}

.main-project-4 {
  background-image: url("../images/projects/project4.jpg");
}

.main-project-5 {
  background-image: url("../images/projects/project5.jpg");
}

.main-project-info {
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -100px;
}

.other-projects {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.other-projects-list {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 50px;
  width: 100%;
  margin: 0;
  animation: image-slider 10s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.partner-logo {
  width: 4vw;
  margin-right: 6vw;
  transition: filter 1000ms linear;
  z-index: 55;
  position: relative;
}

.partner-logo-dark:hover {
  filter: brightness(0.3);
  transition: filter 700ms linear;
}

.partner-logo-light {
  filter: brightness(0.5);
  transition: filter 700ms linear;
}

.partner-logo-light:hover {
  filter: brightness(2);
  transition: filter 700ms linear;
}

iframe {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .main-projects {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-project-info {
    padding: 25px 100px;
  }
  .other-projects-list {
    animation: image-slider 15s linear infinite;
  }
}

@keyframes image-slider {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -120%;
  }
}
